* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #fff;
  min-height: 100vh;
}

header {
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100px;
  padding: 18px;
  display: flex;
  background: #fff;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.116);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.116);
}

.logo {
  line-height: 50px;
  color: #12334e;
  font-size: 2em;
  text-decoration: none;
  cursor: pointer;
  padding-left: 20px;
}


/* SITE NAVIGATION */
#toggle {
  position: absolute;
  width: 60px;
  right: 10px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  background: #fff;
}

#toggle::before {
  content: '';
  border-radius: 5px;
  position: absolute;
  width: 32px;
  height: 4px;
  background: #12334e;
  transform: translateY(-5px);
  transition: 0.8s;
}

#toggle::after {
  content: '';
  border-radius: 5px;
  position: absolute;
  width: 32px;
  height: 4px;
  background: #12334e;
  transform: translateY(5px);
  transition: 0.8s;
}

#toggle.active::before { transform: translateY(0px) rotate(-45deg); }

#toggle.active::after { transform: translateY(0px) rotate(45deg); }

#navbar {
  position: relative;
  height: 60px;
  right: 60px;
  background: #fff;
  transition: 0.8s;
  width: 0px;
  overflow: hidden;
}

#navbar.active { width: 800px; }

#navbar ul {
  display: flex;
  position: relative;
  flex-direction: row;
}

#navbar ul li { 
  list-style: none;
  color: #12334e;
}

#navbar ul li a {
  color: #12334e;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0 15px;
  letter-spacing: 3px;
  transition: 0.5s;
}

#backTTBtn {
  position: fixed;
  width: 50px;
  bottom: 40px;
  right: 25px;
  z-index: 99;
  border: 2px solid #12334e;
  outline: none;
  background-color: #fff;
  color: #12334e;
  cursor: pointer;
  padding: 10px;
  border-radius: 25px;
  font-size: 22px;
  transition: 0.5s;
}

#backTTBtn:hover {
  transform: rotate(360deg);
}



.contentSections {
  position: relative;
  display: flex; /* ??? */
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #12334e;
}

/* ! Contact Options */
#contactOptions {
  
}

/* CONTACT FORMULAR */
#contactFormular {
  width: 100%;
  margin-left: 35%;
  margin-right: 35%;
}

.contactFormPD_F { /* PD_F = Personal Data Fields */
  width: 349.5px;
  height: 50px;
  padding: 15px;
  border: 1px solid #878787;
  border-radius: 30px;
  margin: 5px;
  font-size: 1.05em;
  color: #12334e;
  outline: none;
}

#MSG {
  width: 715px;
  height: 140px;
  min-height: 140px;
  max-height: 500px;
  resize: vertical;
  transition: 0.5s;
}

#MSG:hover { height: 200px; }

#contactFormSubmit {
  background: #12334e;
  color: white;
  height: 40px;
  width: 120px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #878787;
  border-radius: 30px;
  transition: 0.7s;
}

#contactFormSubmit:hover { width: 200px; }

/* Font Awesome Style */
#contactFormSubmit .fa-angle-double-right { margin-left: 15px; }

#contactFormular .fa-cF {
  margin-left: -40px;
  margin-right: 20px;
}

#contactFormular .fa-cFM {
  position: absolute;
  margin: 25px 0 0 -40px;
}

/* NAVIGATION BAR - RESPONSIVE MODE */
@media (max-width: 1150px) {
  #navbar {
    position: fixed;
    bottom: -100%;
    right: 0;
    width: 100%;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
  }

  #navbar.active ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
  }

  #navbar.landscapeActive ul {
    justify-content: center;
    align-items: center;
    font-size: 1em;
  }

  #navbar.active { 
    height: calc(100vh - 200px); 
    bottom: 0;
    width: 100%;
  }

  #navbar.landscapeActive {
    height: calc(100vh - 75px); 
    bottom: 0;
    width: 100%;
  }

  .logo {
    margin: 5px 0 0 0;
    font-size: 1.5em;
  }
}

@media (max-width: 723px) {
  #MSG { width: 350px; }
}

@media only screen 
and (max-device-width : 1150px) 
and (orientation : landscape) { 
	#navbar { display: flex; }

  #navbar.active {
    /* Make Page unscrollable when Navbar is open */
  }

  #navbar ul {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
  }
}






/* Slideshow container */
.slideshow-container {
  max-width: 1150px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.sliderImage {
  display: none;
}

/* Next & previous buttons */
.imageSliderPrevious, .imageSliderNext {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 28px;
  transition: 0.5s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.imageSliderNext {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.imageSliderPrevious:hover, .imageSliderNext:hover {
  /*background-color: rgba(0, 0, 0, 0.5);*/
  background-color: #12334ec2;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  /*color: #f2f2f2;*/
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.imageSliderDot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .imageSliderDot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}
@-webkit-keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}